<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

	<add key="HoneypotEnableFieldCheck" value="true" />
	<add key="HoneypotEnableTimeCheck" value="true" />
	<add key="HoneypotPrefixFieldName" value="sb-" />
	<add key="HoneypotSuffixFieldName" value="" />
	<add key="HoneypotTimeFieldName" value="sb-time" />
	<add key="HoneypotMinTimeDuration" value="00:00:05" />
	<add key="HoneypotFieldStyles" value="display: none !important; position: absolute !important; left: -9000px !important;" />
	<add key="HoneypotFieldClass" value="sb-field" />
	<add key="HoneypotFieldNames" value="Name,Phone,Comment,Message,Email,Website" />
	<add key="HoneypotMessage" value="That&apos;s not right" />

	</appSettings>
</configuration>