<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HoneypotEnableFieldCheck" value="true" />
		<add key="HoneypotEnableTimeCheck" value="true" />
		<add key="HoneypotMinTimeDuration" value="00:00:02" />
		<add key="HoneypotFieldStyles" value="display: none !important; position: absolute !important; left: -9000px !important;" />
		<add key="HoneypotFieldNames" value="Name,Phone,Comment,Message,Email,Website" />
		<add key="HoneypotNoTags" value="true"/>
	</appSettings>
</configuration>