<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Our.Umbraco.IoC.Autofac.Enabled" value="true" />
    <add key="HoneypotEnableFieldCheck" value="true" />
    <add key="HoneypotEnableTimeCheck" value="true" />
    <add key="HoneypotPrefixFieldName" value="hp-" />
    <add key="HoneypotSuffixFieldName" value="" />
    <add key="HoneypotTimeFieldName" value="--time" />
    <add key="HoneypotMinTimeDuration" value="00:00:02" />
    <add key="HoneypotFieldStyles" value="display: none !important; position: absolute !important; left: -9000px !important;" />
    <add key="HoneypotFieldClass" value="hp-field" />
    <add key="HoneypotFieldNames" value="Name,Phone,Comment,Message,Email,Website" />
    <add key="HoneypotMessage" value="That&#39;s not right" />
    <add key="HoneypotNoTags" value="true"/>
  </appSettings>
</configuration>